<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Schedule</title>
</head>
<body>

<h1>My Schedule</h1>

<table border="1">
    <tr>
        <th>Course</th>
        <th>Classroom</th>
        <th>Day</th>
        <th>Time</th>
    </tr>

    <tr th:each="s : ${schedules}">
        <td th:text="${s.course.courseName}"></td>
        <td th:text="${s.classroom.roomNumber}"></td>
        <td th:text="${s.dayOfWeek}"></td>
        <td th:text="${s.startTime} + ' - ' + ${s.endTime}"></td>
    </tr>
</table>

</body>
</html>
